<template>
  <div id="game-overlay">
    <StageTitle v-if="currentScreen === 'title'"/>
    <StageGame v-if="currentScreen === 'game'" />
  </div>
</template>

<style lang="scss">
#game-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
  pointer-events: none;
}
</style>

<script>
import { mapState } from 'vuex'

import StageTitle from './StageTitle.vue'
import StageGame from './StageGame.vue'

export default {
  name: 'GameOverlay',
  components: {
    StageGame,
    StageTitle
  },
  computed: {
    ...mapState(['currentScreen'])
  }
}
</script>
