<template>
  <div id="stage-game">
    <div id="mark">
      <div id="logo">R</div>
      <div id="title">Radio Defense</div>
    </div>
    <div id="hotkey"></div>
    <div id="hud">
      <div id="stamina"><span :style="`width: ${stamina}%`"/></div>
      <div id="heart">{{ heartIndicator }}</div>
      <div id="skill" v-if="currentSkill">
        <img :src="skillHTML">
        <span v-text="`${cdMin}:${cdSec}`"/>
      </div>
    </div>
    <div id="score">
      <div id="battery">B</div>
      <div id="text">
        <div>已回收</div>
        <div id="count">{{ battery }}個能量電池</div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
#stage-game {
  color: white;
  > * {
    padding: 12px;
  }
  #mark {
    position: absolute;
    left: 0;
    top: 0;
    #logo {
      font-size: 6rem;
      line-height: 6rem;
      font-weight: bold;
    }
    #title {
      font-size: 1.5rem;
    }
  }
  #hotkey {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  #hud {
    position: fixed;
    right: 0;
    top: 0;
    width: 25%;
    text-align: right;
    > *:not(:first-child) {
      margin: 4px 0;
    }
    #stamina {
      background-color: whitesmoke;
      height: .75rem;
      display: flex;
      justify-content: flex-end;
      > span {
        background-color: #f5af5f;
        display: block;
      }
    }
    #heart {
      color: #e7465d;
      font-size: 2rem;
      letter-spacing: 6px;
    }
    #skill {
      height: 1.5rem;
      font-size: 1.5rem;
      padding: 4px 0;
      border: 2px solid white;
      border-radius: 8px;
      display: flex;
      align-items: center;
      float: right;
      img {
        height: 150%;
        object-fit: contain;
        margin-left: 12px;
        margin-right: 4px;
      }
      span {
        margin-right: 18px;
      }
    }
  }
  #score {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    #battery {
      font-size: 4rem;
      line-height: 3rem;
      letter-spacing: 4px;
    }
  }
}
</style>

<script>
import { mapState } from 'vuex'

import { app } from '@/game/helpers'

let skillTimer = null

export default {
  name: 'StageGame',
  data: () => ({
    countdown: 0,
    skillHTML: ''
  }),
  computed: {
    cdMin () {
      return Math.floor(this.countdown / 60)
    },
    cdSec () {
      return (this.countdown % 60 + '').padStart(2, '0')
    },
    heartIndicator () {
      return Array.from({ length: this.heart })
        .reduce((prev, curr) => prev ? prev + '❤' : '❤❤')
    },
    ...mapState([
      'battery',
      'currentSkill',
      'currentSkillTimeout',
      'heart',
      'stamina'
    ])
  },
  watch: {
    currentSkill (Skill) {
      if (!Skill) return
      if (Skill.indexOf('skill-') !== 0) return

      try {
        this.skillHTML = app.loader.resources[Skill].texture.baseTexture.source
      } catch (error) {
        this.skillHTML = ''
      }

      this.countdown = this.currentSkillTimeout

      clearInterval(skillTimer)
      skillTimer = setInterval(() => {
        if (this.countdown <= 0) {
          clearInterval(skillTimer)
          this.$store.commit('deactivateSkill')
        }
        this.countdown--
      }, 1000)
    }
  },
  mounted () {
    this.skillHTML = app.loader.resources['skill-double'].texture.baseTexture.imageUrl
  }
}
</script>
