<template>
  <div id="stage-title">
    <div id="center-block">
      <div id="logo">R</div>
      <div id="title">Radio Defence</div>
      <button @click="$store.commit('StartGame')">Start Game</button>
    </div>
    <div id="desc">
      <div>你身負著運送能量電池的任務</div>
      <div>卻遭到幾何星人的埋伏</div>
      <div>請協助從他們的手中奪回能量電池</div>
    </div>
  </div>
</template>

<style lang="scss">
#stage-title {
  color: white;
  #center-block {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    #logo {
      font-size: 6rem;
      line-height: 7rem;
      font-weight: bold;
    }
    #title {
      font-size: 1.5rem;
    }
    button {
      z-index: 100;
      background: transparent;
      color: white;
      border: 2px solid white;
      border-radius: 30px;
      padding: 6px 22px;
      margin-top: 30px;
      font: inherit;
      pointer-events: initial;
      &:hover {
        opacity: .75;
      }
      &:focus {
        outline: none;
      }
      &:active {
        color: #001d2e;
        background: white;
        opacity: 1;
      }
    }
  }
  #desc {
    position: fixed;
    padding: 12px;
    left: 0;
    bottom: 0;
    line-height: 30px;
  }
}
</style>
