<template>
  <div id="app">
    <GameOverlay/>
    <MainGame/>
  </div>
</template>

<script>
import MainGame from './components/MainGame.vue'
import GameOverlay from './components/GameOverlay.vue'

export default {
  name: 'app',
  components: {
    MainGame,
    GameOverlay
  }
}
</script>

<style lang="scss">
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Heiti TC', 'Microsoft JhengHei', sans-serif;
  background-color: #001d2e;
}
canvas {
  z-index: 10;
  position: fixed;
}
</style>
